<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
<div class="content">
    {{> header}}
    <main class="container">
        <section class="form-center">
            <img src="public/images/badumtss.svg" alt="check">
            <h1>
                Your map is ready to <strong>explore</strong> and <strong>share</strong>
            </h1>
            <a href="https://admin.workadventu.re/login" class="btn btn-secondary" style="margin-top: 16px;" target="_blank">
                Go to map list
            </a>
        </section>
    </main>
    <div class="button-wrapper">
        <div>
            <a href="step3-steps" class="btn btn-ghost">
                Previous
            </a>
        </div>
        <div style="flex-grow: 1;">
        </div>
    </div>
</div>
{{> footer}}
</body>

</html>